*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
}

main {
    height: 200vh;
    background-color: rgb(2, 3, 61);
    color: rgb(114, 114, 114);
}

#audio_player {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: fixed;
    bottom: 0;
    background-color: rgb(255, 255, 255);
    width: 100vw;
    height: 6rem;
    display: flex;
    padding-top: 1.5rem;
    align-items: center;
    padding-inline: 3rem;
    --progressBar: 0%;
}

.audio_player__progress_bar {
    appearance: none;
    margin-left: -3rem;
    position: absolute;
    top: 0;
    width: 100%;
    height: 1rem;
    border: none;
    background: rgba(126,120,245,1);
    background: linear-gradient(90deg, rgba(126,120,245,1) var(--progressBar), rgba(44, 44, 44, 0.479) var(--progressBar) );

    accent-color: #F55050;
    cursor: pointer;
}

.audio_player__progress_bar::-webkit-slider-thumb {
    appearance: none;
    height: 1rem;
    width: 0.7rem;
    outline: none;background: rgba(0, 0, 0, 0.479);
    cursor: pointer;
}

.audio_player__main_controls {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.audio_player__main_controls>button {
    width: 2rem;
    height: 2rem;
    background-position: 0 0;
    background-size: contain;
    border: none;
    -webkit-transition: background-image 0.2s ease-in-out;
    transition: background-image 0.1s ease-out;
    cursor: pointer;
    color: #d1d1d165;
}

.audio_player__previous {
    background: transparent;
    background-image: url(./icons/previous.svg);
}

.audio_player__play {
    background: transparent;
    background-image: url(./icons/play.svg);
}

.audio_player__play.pause {
    background-image: url(./icons/pause.svg);
}

.audio_player__next {
    background: transparent;
    background-image: url(./icons/next.svg);
}

.audio_player__previous:hover {
    background-image: url(./icons/previous_colored.svg);
}

.audio_player__play:hover {
    background-image: url(./icons/play_colored.svg);
}

.audio_player__play.pause:hover {
    background-image: url(./icons/pause_colored.svg);
}

.audio_player__next:hover {
    background-image: url(./icons/next_colored.svg);
}

.audio_player__time {
    display: flex;
    margin-left: auto;
    font-size: 1.25rem;
}

.audio_player__volume_img {
    width: 2rem;
    height: 2rem;
    margin-left: 3rem;
    background-image: url(./icons/volume.svg);
    cursor: pointer;
}

.audio_player__volume_img:hover {
    background-image: url(./icons/volume_coloured.svg);
}

.audio_player__volume_img.mute {
    background-image: url(./icons/mute.svg);
}

.audio_player__volume {
    width: 7rem;
    height: 0.5rem;
    background: rgb(168, 168, 168);
    outline: none;
    margin-block: 0.2rem;
    appearance: none;
    margin-left: 0.5rem;
    cursor: pointer;
}

.audio_player__volume::-webkit-slider-thumb {
    appearance: none;
    height: 1.3rem;
    width: 0.4rem;
    outline: none;
    background-color: rgba(61, 61, 61, 0.918);
    cursor: pointer;
}


@media (max-width: 600px) {
    #audio_player {
        flex-wrap: wrap;
        padding-inline: 1rem;
        height: auto;
        padding-top: 2.5rem;
        padding-bottom: 1.5rem;
    }

    .audio_player__progress_bar {
        margin-left: -1rem;
    }

    .audio_player__main_controls {
        gap: 1.5rem;
    }

    .audio_player__main_controls>button {
        width: 1.5rem;
        height: 1.5rem;
    }

    .audio_player__time {
        position: absolute;
        top: 0;
        right: 1rem;
        font-size: 1rem;
        color: black;
    }

    .audio_player__volume_img {
        margin-left: auto;
        width: 1.5rem;
        height: 1.5rem;
    }

    .audio_player__volume {
        width: 6rem;
        height: 0.5rem;
    }
}